services:
  systemd:
    image:  ${REGISTRY:-ghcr.io}/${REPO_OWNER:-scs}/${REPO_NAME:-jumpstart-docs}/fedora-systemd:${VERSION:-latest}
    build: container
    volumes:
      - ./hello_world_service:/hello_world_service/hello_world_service
      - ./solution:/hello_world_service/solution
    privileged: true
  learn-linux-by-ctf:
    image: ghcr.io/bacluc/learn-linux-by-ctf:2024-03
    profiles:
      - learn-linux-by-ctf
