name: CMake exercise

on:
  - push
  - pull_request

jobs:
  cmake-exercise:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: configure and build
        working-directory: topics/build_systems/code
        run: |
          rm CMakeLists.txt
          mv CMakeLists_solution.txt CMakeLists.txt
          mkdir build
          cmake -S . -B build
          cmake --build build

      - name: run tests
        working-directory: topics/build_systems/code
        run: |
          cmake --build build --target test
