name: Document compilation

on:
  - push
  - pull_request

jobs:
  compilation:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    container: ghcr.io/langchr86/docmake:latest
    env:
      DISPLAY: ":99"
    steps:
      - uses: actions/checkout@v2

      - name: "start xvfb as a workaround for drawio-desktop does not work without an X server"
        run: Xvfb :99 &

      - name: configure and build
        run: |
          mkdir build
          cmake -S . -B build -DJS_WITH_CODE=OFF
          cmake --build build

      - name: create release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            build/topics/jumpstart.zip
