name: Java exercise
on:
  - push
  - pull_request
jobs:
  java-exercise:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '11'

      - name: compile
        working-directory: topics/testing/code
        run: mvn install -DskipTests=true

      - name: lint
        working-directory: topics/testing/code
        run: mvn pmd:check

      - name: check format
        working-directory: topics/testing/code
        run: mvn spotless:check

      - name: run tests
        working-directory: topics/testing/code
        run: mvn test

      - name: run integration tests
        working-directory: topics/testing/code
        run: mvn verify
